.avia-slide-wrap{
    position: relative;
    display: block;
    }


    
.img_contact{
    width: 100%;
}    


.contenedorC{
  
    display: inline-flex; 
    margin-bottom: 5px; 
    background-color: red;
    

}
.elementoC{
    width:40%;
    border-style: groove;
}