

nav a{
	/* limpiar la decoracion de los a ref.*/
	text-decoration: none;
	color: $color_nav_ov;
}

nav li a {
	color: $color_nav;
	display: block;
	text-decoration: none;
	list-style: none;
	padding: .3rem 1rem .3rem 5rem;

}

nav li a:hover {
	background: #394C91;
	color:$color_nav_ov;
}

.colordeFondoNav{
	border: 1px dotted $color_nav;

}

#bg-lighter {
  background-color: #EEF1F4 !important;
  justify-content: flex-end;
  padding-right: 5%;
  padding-bottom: 35px;
  padding-top: 3%;
  grid-gap: 10px;
}