$color_nav  :black;
$color_nav_ov :white;
$font_principal :'Tenali Ramakrishna', sans-serif,'Titillium Web';
// font-family: 
// $font_principal :'Tenali Ramakrishna', sans-serif;
// $font_principal :'Tenali Ramakrishna', sans-serif,
// font-family: 
